---
import Link from "../../components/Link.astro";
import PostCard from "../../components/PostCard.astro";
import { formatBlogPosts, slugify } from "../../js/utils";
import MainLayout from "../../layouts/MainLayout.astro";

export async function getStaticPaths() {
  return formatBlogPosts(await Astro.glob("../blog/*.md"))
    .map((post) => {
      return post.frontmatter.author;
    })
    .map((post) => {
      return {
        params: {
          author: slugify(post),
        },
        props: { name: post },
      };
    });
}

const { author } = Astro.params;
const { name } = Astro.props;

const allPosts = await Astro.glob("../blog/*.md");
const formattedPosts = formatBlogPosts(allPosts, {
  limit: 3,
}).filter((post) => post.frontmatter.author === name);
---

<MainLayout title="My Blog">
  <section class="container" aria-label={`Posts authored by ${name}`}>
    <h2 class="h1">Posts authored by <span> {name}</span></h2>
    <div class="post-container">
      {
        formattedPosts.map((post) => (
          <PostCard
            frontmatter={post.frontmatter}
            url={post.url}
            tagType="h3"
          />
        ))
      }
    </div>
  </section>
</MainLayout>
